@import 'primitive.css';
@import 'semantic.css';
@import 'component.css';

/* You'd want to do this in index.ejs, not here.
   You'd also want to _not_ load the entire font for production */
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200';

.material-symbols {
  font-family: 'Material Symbols Sharp', sans-serif !important;
  font-variation-settings:
    'opsz' 24,
    'wght' 400,
    'FILL' 0,
    'GRAD' 0;
  font-feature-settings: initial;
  font-display: swap;
}

* {
  box-sizing: border-box;

  /* &:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    transition: outline var(--transition-ui) ease-out;
  } */
}

html,
body {
  min-block-size: 100dvh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--text-size-100);
  line-height: var(--text-leading-200);
  color: var(--colour-text);
  background-color: var(--surface-base);
  -webkit-font-smoothing: antialiased;
  color-scheme: light dark;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* To hide elements from the screen but keep them accessible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
