/* IconButton loading state */
[aria-busy='true'] {
  .icon-button-icon-wrapper {
    visibility: hidden;
    user-select: none;
  }
}

/* IconButton icon wrapper - centers icon in middle column */
.icon-button-icon-wrapper {
  display: flex;
  grid-column: 2;
  align-items: center;
  justify-content: center;
}

/* IconButton Sizes */
.icon-button-sm {
  min-inline-size: var(--button-size-sm);
  min-block-size: var(--button-size-sm);
  padding: var(--button-padding-block-sm);
}

.icon-button-md {
  min-inline-size: var(--button-size-md);
  min-block-size: var(--button-size-md);
  padding: var(--button-padding-block-md);
}

.icon-button-lg {
  min-inline-size: var(--button-size-lg);
  min-block-size: var(--button-size-lg);
  padding: var(--button-padding-block-lg);
}
